@import "fonts/fonts.css";
@import "fonts/icons/style.css";

$fontSize: 15px;
$fontFamily: 'Lato-Regular', sans-serif;
$blueColor: #4073FF;
$darkGrayColor: #35373B;
$borderColor: #ECECF0;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

ul, li {
  list-style: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: $darkGrayColor;
  font-size: $fontSize;
  font-family: $fontFamily;
  line-height: 1.4;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  height: 50px;
  border: 1px solid $blueColor;
  background-color: $blueColor;
  color: #fff;
  min-width: 194px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: inherit;
  &:hover {
    color: $blueColor;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
}

.header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-bottom: 1px solid $borderColor;
  padding: 26px 0 22px;

  &__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    @media (min-width: 480px) {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }

  &__text {
    line-height: 18px;
    text-align: center;
    color: #72757D;
    margin-top: 10px;
    @media (min-width: 479px) {
      text-align: right;
      margin-top: 0;
    }
    @media (max-width: 380px) {
      transition: max-width 0.3s ease 0s;
      max-width: 220px;
    }
  }
}


.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  @media (min-width: 480px) {
      margin-right: 30px;
  }
  &:hover {
    .logo {
      &-image {
        background-color: #fff;
        border-color: $blueColor;
      }

      &-name {
        font-weight: 400;
        color: $blueColor;
      }
    }
    ._icon-logo {
      &_image,
      &_name {
        &::before {
          color: $blueColor;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
        }
      }
    }
  }

  &-image {
    min-width: 42px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $blueColor;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.36em;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  &-name {
    margin-left: 10px;
    &._icon-logo_name {
      font-size: 1.27em;
      color: #333;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      &::before {
        color: #333;
      }
    }
  }
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.info {
  &__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: calc(30px + (101 - 30) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: 30px;
    @media (max-width: 1023px) {
      display: block;
    }
  }

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    @media (min-width: 1023px) {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 486px;
      flex: 1 0 486px;
    }
  }

  &__label {
    font-size: calc(70px + (90 - 70) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    font-family: 'Lato-Bold', sans-serif;
    line-height: 1.2;
    margin-bottom: 24px;
    @media (max-width: 479px) {
      text-align: center;
    }
  }

  &__title {
    font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    font-family: 'Lato-Bold', sans-serif;
    line-height: 1.2;
    margin-bottom: 25px;
    @media (max-width: 479px) {
      text-align: center;
    }
  }

  &__subtitle {
    font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 1.32;
    margin-bottom: 25px;

    span {
      border-bottom: 1px solid $darkGrayColor;
    }
  }

  &__text {
    line-height: 1.46;
    color: #828282;
    padding-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  }

  &__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0 0 44.958% 0;
    margin-left: calc(10px + (84 - 10) * ((100vw - 320px) / (1920 - 320)));
    @media (max-width: 1023px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__bottom {
    margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    @media (min-width: 479px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }

  &__timer {
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    font-size: 22px;
    color: $blueColor;
    pointer-events: none;
    font-family: 'Roboto-Regular', sans-serif;
    margin-left: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
    @media (max-width: 479px) {
        margin: 10px 0 0;
    }
  }
}


.footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-top: 1px solid $borderColor;
  padding: 27px 0;

  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    @media (min-width: 479px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }

  &__copy {
    pointer-events: none;
    color: #72757D;
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 479px) {
      margin-top: 15px;
    }
  }
}

.footer-social {
  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    li {
      &:hover {
        [class*="_icon-"]::before {
          color: $blueColor;
        }

        .footer-social__link {
          border-color: $blueColor;
          background-color: #fff;
          -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        }
      }

      &:not(:last-child) {
        margin-right: 14px;
      }
    }
  }

  &__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $blueColor;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
    border: 1px solid transparent;

    &._icon-fb {
      font-size: 16px;
    }
  }
}
